.container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid transparent;
  line-height: 3rem;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 25px;
  transition: 0.2s ease-in;
}
.input:focus {
  border: 1px solid #70c7b2;
}

.input:focus::placeholder {
  color: rgba(128, 128, 128, 0.342);
}

h1 {
  margin-bottom: 20px;
}

.loginBtn {
  border: none;
  padding: 15px 30px;
  background-color: #70c7b2;
  color: white;
  font-size: 18px;
  width: 30%;
  border-radius: 30px;
  align-self: center;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.loginBtn:hover {
  background-color: #51e6c3;
}
.title {
  font-size: 35px;
  align-self: center;
}
