.container {
  margin-left: 320px;
  width: 100vw;
  padding: 190px 130px;
  box-sizing: border-box;
}

.button {
  background-color: #54cadab4;
  padding: 10px 30px;
  border: none;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
}

.form {
  margin-top: 80px;
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}
