.container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
}
.main {
  padding: 50px 0 0 240px;
  box-sizing: border-box;
  width: 75%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.nav {
  margin-bottom: 60px;
}
