.container {
  width: 130px;
  height: 200px;
  border-radius: 20px;
  padding: 9px 13px 0 13px;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.326);
  transition: all 0.1s ease-out;
}

.container:hover {
  background-color: #e6a744;
  border: 1px solid #e6a744;
  transform: scale(1.1);
  color: white;
  font-size: 19px;
}

.subContainer {
  width: 100%;
  height: 50%;
  border-radius: 20px;
  background-color: white;
  border: 1px solid #bcc2d0;
  position: relative;
  margin-bottom: 25px;
}

.text {
  font-weight: 500;
  font-family: "Lobster", cursive;
  letter-spacing: 1px;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.705);
}
