.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 100px auto;
}
.header {
  background-color: #3797a4a6;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(3, 3, 3);
  font-weight: 700;
}

.row {
  background-color: #3797a4;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: white;
  align-items: center;
}

.box {
  border-right: 1px solid rgb(0, 0, 0);
  width: 33.333%;
  padding: 5px 30px;
  box-sizing: border-box;
  color: rgb(7, 1, 1);
  font-size: 18px;
  /* text-align: center; */
  outline: none;
}

/* .actionBtn {
  padding: 9px 15px;
  background-color: yellow;
  border: none;
  border-radius: 2px;
  font-weight: 700;
  color: green;
  cursor: pointer;
} */

.productImg {
  width: 70px;
  height: 70px;
  border-radius: 3px;
}
