.container {
  background-color: white;
  width: 25%;
  min-height: 100vh;
  box-shadow: -20px 0px 10px rgba(224, 224, 224, 0.281);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.orderBtn {
  background-color: rgb(28, 165, 10);
  border: none;
  padding: 18px 20px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.orderBtn:hover {
  background-color: rgb(29, 192, 37);
}

.placeHolderText {
  font-size: 20px;
  font-weight: 700;
  color: rgb(116, 108, 108);
}
