.sideBar {
  height: 100vh;
  width: 20vw;
  background-color: e4e4e4;
  box-shadow: 0 1px 13px rgb(153, 152, 152);
  display: flex;
  flex-direction: column;
  padding-top: 130px;
  box-sizing: border-box;
  display: flex;
  position: fixed;
}
