.container {
  width: 220px;
  height: 320px;
  border-radius: 0;
  background-color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.326);
  transition: box-shadow 0.3s ease-out;
}

.container:hover {
  /* background-color: rgba(202, 202, 39, 0.39); */
  box-shadow: 0 0 13px rgba(149, 149, 149, 0.5);
}

.image {
  width: 120px;
  height: 120px;
  border-radius: 80px;
  margin-bottom: 10px;
}

.productName {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 9px;
  color: black;
}

.productPrice {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #2c2c2c;
}

.button {
  padding: 11px 19px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

.button.add {
  background-color: #ffffff;
  padding: 11px 39px !important;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.326);
}

.button.add:hover {
  background-color: green;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.138);
}

.button.see {
  color: black;
  margin-bottom: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.326);
}

.button.see:hover {
  background-color: #2c2c2c;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
